.side-bar{

    font-size: 21px;
    font-weight: 500;
    width: 100%;
    height: 150px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
}

.side-bar button {
    height: 50px;
    border-radius: 12px;
    color:#0C1421;
    font-family: Poppins;
    border: 1px solid #0C1421 ;
}

.scam-lookup:hover, .report-scam:hover, .scam-reports-table:hover, .logout:hover  {
    background-color: #4391ED1A;
    cursor: pointer;
}

.scam-lookup, .report-scam, .scam-reports-table, .logout {
    padding: 14px;
    background-color: #4391ED1A;
}

.scam-lookup:active, .report-scam:active, .scam-reports-table:active, .logout:active{
    box-shadow: 2px 2px 5px #fc894d;
}













